
@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Orders</h2>
<table class="table table-bordered">

    <tr>
        <th>ID</th>
        <th> Customer Name</th>
        <th> Product Name</th>
        <th>Ammount</th>
        <th>Quantity</th>
        <th>Status</th>
        <th>Action</th>
    </tr>
    @foreach (var p in Model)
    {
        <tr text-align: center;>
            <td>@p.Id</td>
            <td>@p.User.Name</td>
            <td>@p.Product.Name</td>
            <td>@p.Price</td>
            <td>@p.Quantity</td>
            <td>@p.Status</td>
            <td>  <a href="/admin/ManageOrder/@p.Id?status=Process" class="btn btn-success">Process</a>  <a href="/admin/ManageOrder/@p.Id?status=Decline" class="btn btn-danger">Decline</a></td>
        </tr>
    }
</table>
