
@{
    Layout = null;
}

﻿
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_InnerLayout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div>
        <a class="btn btn-primary" href="/Registration/login">Login</a>
        <a class="btn btn-primary" href="/Registration/SignUP">Registration</a>
        <a class="btn btn-success" href="/Registration/SignUPasdonor">Become A Donor</a>
 
       
    </div>
    <div>
        @RenderBody()
    </div>
    <div>
     
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>