
@{
    ViewBag.Title = "RecordDetails";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>RestaurantDetails</h1>

<ul>
    <li>
        Restaurant ID :
        @Model.Request.Restaurant.RestaurantID
    </li>
    <li>
        Restaurant Name:
        @Model.Request.Restaurant.RestaurantName
    </li>
    <li>
        Restaurant Location :
        @Model.Request.Restaurant.RestaurantLocation
    </li>
    <li>
        Contact Person :
        @Model.Request.Restaurant.RestaurantContactPerson
    </li>
    <li>
        Contact Number :
        @Model.Request.Restaurant.RestaurantContactNumber
    </li>
    <li>
        Email Address :
        @Model.Request.Restaurant.RestaurantEmail
    </li>
</ul>


<h1>Employee Details</h1>
<ul>
    <li>
        Epmloyee ID :
        @Model.EmployeeID
    </li>
    <li>
        Distributed By :
        @Model.User.Name
    </li>
    <li>
        Contact Number :
        @Model.User.Phone
    </li>
    <li>
        Email Address :
        @Model.User.Email
    </li>
</ul>


<h1>TimeLine</h1>
<ul>
    <li>
        Request Made At :
        @Model.Request.RequestTime
    </li>
    <li>

        Max Preservation Time Till :
        @Model.Request.MaxPreservationTime

    </li>

    <li>
        Distibuted At
        @Model.DistributionTime
    </li>
</ul>